
<div class="footer">
   <div class="col-1">
   <h3>links to use</h3>
      <a href="#">About</a>
      <a href="#">Courses</a>
      <a href="#">Contact</a>
      <a href="#">Our Team</a>
      <a href="#">Our services</a>
   </div>

    <div class="col-2">
      <h3>Newsletter</h3>

      <br>
      <form >
       <input type="email" placeholder="Your Email Address" required>
       <button type="submit">SUBSCRIBE NOW</button>
      </form>
   </div>

   <div class="col-3">
    <h3>CONTACT</h3>
    <p>123, Maarif<br>Casablanca city, Morocco</p>
   </div>
</div>

