<%= stylesheet_link_tag 'components/answer_show' %>

<body id=bodyanswer>


  <div style="height:880px" class="text-center d-flex flex-column" id="resulttext" data-controller="certif-alert">
  <h1 class=" text-center">Results Details</h1>
  <p style="text-indent: 4em;"> </p>

  <p id="testx">Enrollment Date: <%= Date.today %> </p>

  <p> <%= @score %> % </p>

  <% if @score >= 66 %>
    <p>Congratulations! You passed the exam.</p>
  <% url = cl_image_path(@user.certificates.last.key, format: "pdf", resource_type: "pdf") %>
  <%= button_tag 'Download Certificate', 'data-action': "click->certif-alert#download", class: 'btn btn-primary' %>
  <% else %>
    <p>Unfortunately, you did not pass the exam. You can retake it.</p>
  <% end %>
  </div>


</body>
