<h1>Results Details</h1>

<p>Enrollment Date: <%= Date.today %> </p>

<p> <%= @score %> % </p>

<% if @score >= 66 %>
  <p>Congratulations! You passed the exam.</p>
<% else %>
  <p>Unfortunately, you did not pass the exam. You can retake it.</p>
<% end %>
