
<div class="container-about my-4">
  <main>
    <section>
      <h2 class="text-center p-3">Thanks to</h2>
      <div class="cont-spn d-flex justify-content-center">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" id="img-lewg" class="img-thumbnail" style="width: 100px; height: 100px;" />
    <img src="https://res.cloudinary.com/djesiex6g/image/upload/v1707387868/jobintech_j3opui.png" id="img-jobit" class="img-thumbnail" style="width: 180px; height: 100px;" />
      </div>
    </section>


    <section>
      <h2 class="text-center p-3">Our Mission</h2>
      <h4 class="text-about">Our mission is to embrace the power of gamified learning, engage in exciting challenges, and acquire the essential skills needed for professional success Join our thriving community of learners, and together, let's shape a future where soft skills drive personal growth, career advancement, and economic prosperity.</h4>
    </section>






    <section>
      <h2 class="text-center p-3">Our Vision</h2>
      <h4 class="text-about">Our vision is revolutionizes the learning experience by gamifying the development of soft skills, making it engaging, interactive, and effective.</h4>
    </section>
    <section>
      <h2 class="text-center p-3">Our Team</h2>
      <div class="row justify-content-center"> <!-- Modified -->
        <div class="col-md-4"> <!-- Modified -->
          <div class="card-about my-1">
            <div class="card-body text-center">
            <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1702505444/svmjqlygtwrqroeklfiu.jpg" alt="Avatar" class="avatar-img">
              <h1 class="text-center">ES-SETTI Younes</h1>
              <h4 class="title-about">Student</h4>
              <h4>At Le Wagon</h4>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <h4 class="my-1"><button class="btn btn-info">Contact</button></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!-- Modified -->
          <div class="card-about my-1">
            <div class="card-body text-center ">
            <img src='https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1702627086/vwojntabivnhsucn86kh.jpg' alt="Avatar" class="avatar-extralarge">
              <h1 class="text-center">MEZMER Aboubaker</h1>
              <h4 class="title-about">Student</h4>
              <h4>At Le Wagon</h4>
              <a href="https://github.com/Bakermezmer" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <h4 class="my-1"><button class="btn btn-info">Contact</button></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!-- Modified -->
          <div class="card-about mb-3">
            <div class="card-body text-center">
            <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1707384373/utottyniz9mfsqovisoa.jpg" alt="Avatar" class="avatar-https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1707384373/utottyniz9mfsqovisoa.jpgimg">
              <h1 class="text-center">EL KEBCH F-Z</h1>
              <h4 class="title-about">Student</h4>
              <h4>At Le Wagon</h4>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <h4 class="my-1"><button class="btn btn-info">Contact</button></h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>
