<<<<<<<<< Temporary merge branch 1
<div>
 <h3>Younes ES-SETTI</h3>
</div>

<div>
<h3>Aboubaker MEZMER</h3>
</div>

<div>
<h3>Fatima Ezzahra EL KEBCH</h3>
=========

<div class="container-about my-4">
  <main>
    <section>
      <h2 class="text-center p-3">Our Mission</h2>
      <h4 class="text-about">To be the leading online platform for providing high-quality solar kits tailored to meet the energy needs of homes, farms, and companies, promoting sustainability and environmental consciousness worldwide.</h4>
    </section>
    <section>
      <h2 class="text-center p-3">Our Vision</h2>
      <h4 class="text-about">Our mission is to empower individuals, farms, and companies to harness the power of solar energy by offering reliable and efficient solar kits through an accessible and user-friendly online platform. We strive to deliver exceptional customer service, educate our customers about the benefits of solar energy, and contribute to a cleaner and greener future for generations to come.</h4>
    </section>
    <section>
      <h2 class="text-center p-3">Our Team</h2>
      <div class="row justify-content-center"> <!-- Modified -->
        <div class="col-md-4"> <!-- Modified -->
          <div class="card-about my-1">
            <div class="card-body text-center">
            <img src="path_to_your_avatar_image.jpg" alt="Avatar" class="avatar-img">
              <h1 class="text-center">ES-SETTI Younes</h1>
              <h4 class="title-about">Student</h4>
              <h4>At Le Wagon</h4>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <h4 class="my-1"><button class="btn btn-info">Contact</button></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!-- Modified -->
          <div class="card-about my-1">
            <div class="card-body text-center ">
            <img src='https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1702627086/vwojntabivnhsucn86kh.jpg' alt="Avatar" class="avatar-extralarge">
              <h1 class="text-center">MEZMER Aboubaker</h1>
              <h4 class="title-about">Student</h4>
              <h4>At Le Wagon</h4>
              <a href="https://github.com/Bakermezmer" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <h4 class="my-1"><button class="btn btn-info">Contact</button></h4>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!-- Modified -->
          <div class="card-about mb-3">
            <div class="card-body text-center">
            <img src="path_to_your_avatar_image.jpg" alt="Avatar" class="avatar-img">
              <h1 class="text-center">EL KEBCH Fatima Ezzahra</h1>
              <h4 class="title-about">Student</h4>
              <h4>At Le Wagon</h4>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <h4 class="my-1"><button class="btn btn-info">Contact</button></h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
>>>>>>>>> Temporary merge branch 2
</div>
