<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/djesiex6g/image/upload/v1707128995/jhbc84vngypo6trgunos.jpg);">
  <div class="container">
    <h1>FunQuest <strong>your way</strong> to <strong>embark</strong> the working field!</h1>
    <p>Master the Art of Communication with FunQuest Courses".</p>
      <%= link_to 'Apply now', new_user_session_path, class: 'btn btn-flat' %>
  </div>
</div>

<div class="container-card">
  <% @courses.each do |course| %>
    <div class="card">
      <div class="box">
        <div class="content">
          <h3><%= course.title %></h3>
          <p><%= course.length %> weeks</p>
          <a href="<%= course_path(course) %>">Read More</a>
        </div>
      </div>
    </div>
  <% end %>

  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="notification-content">
      <p><small>14th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>
  </div>



  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>
  </div>
</div>
</div>


