<div class="container">
<div class="row">
<div class="col">

  <h1><strong>Courses</strong></h1>
<% @courses.each do |course| %>
  <div>
    <h2><%= course.title %></h2>
    <p><%= course.description %></p>
    <p><%= course.length %> weeks</p>
    <%= link_to 'Enroll now', course_path(course), class: 'btn btn-light' %>
  </div>
<% end %>



</div>
</div>
</div>
