.navbar-lewagon {
  justify-content: space-between;
  background: #2E3252;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
/* Add these styles to your CSS file */

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; /* Set text color to white */
  font-family: 'Times New Roman', Times, serif;
}

.dropdown-item{
  font-family: 'Times New Roman', Times, serif;
}

.navbar-light .navbar-toggler-icon {
  background-color: #ffffff; /* Set background color of the toggler icon to white */
}

/* Optional: Set active link color */
.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
}

.imaglogo{
  width: 120px;
}
