.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #ffffff;
}

.ag-courses_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses_item {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #030136;
  overflow: hidden;
  position: relative;
  color: #FFF; /* Set text color to white */
  text-decoration: none; /* Remove underlines for links */
}

.ag-courses-item_link:hover .ag-courses-item_date,
.ag-courses-item_link:hover .btn {
  color: #000000; /* Set text color to white on hover */
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title,
.ag-courses-item_date-box {
  z-index: 2;
  position: relative;
}

.ag-courses-item_date,
.btn {
  position: relative;
  z-index: 3;
}

.btn {
  background-color: #28a745; /* Set success button background color */
  color: #FFF; /* Set text color to white for the success button */
  border-radius: 5px; /* Set border radius for the button */
  padding: 10px 20px; /* Adjust padding for the button */
  border: none; /* Remove default button border */
  cursor: pointer;
  transition: background-color 0.5s ease; /* Add transition for background color */
}

.btn:hover {
  background-color: #ecbc0e; /* Set a background color on button hover */
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #2be7dd;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #b55be6;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

h1 {
  text-align: left;
}
